# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Data and models
data/raw/
models/

# VSCode
.vscode/

# Pytest cache
.pytest_cache/
